*{
    box-sizing: border-box;
}
html,body{
    font-family: "Raleway", sans-serif;
    margin:0;
    padding:0;
    overflow-x:hidden;
}
#blocpage{
    max-width: 1400px;
    margin:0 auto;
    padding:15px;
}
/*header*/
.logo{
    margin-left:40px;
}
header nav{
    position:absolute;
    right:100px;
    top:-15px;
}
header nav ul{
    list-style: none;
}
header nav ul li{
    display:inline-block;
    margin-left: 30px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}
header nav ul li a{
    text-decoration: none;
    color: #000000;
}
header nav ul li:first-child{
    border-top:#0065FC 2px solid;
}
header nav ul li:last-child a{
    display:flex;
    justify-content: space-around;
    align-items: center;
    color:#0065FC;
}
header nav ul li:hover{
    border-top:none;
}
header nav ul li:hover a{
    color:#0065FC;
}
h2{
    margin-left:40px;
}
/*recherche*/
.barrederecherche{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 398px;
    border-radius: 10px;
    border:0.5px solid #F2F2F2;
    margin-left:40px;
}
.iconemap{
    height:50px;
    width:50px;
    background-color:#F2F2F2;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 0 0 10px;
}    
input{
    height:50px;
    width:230px;
    font-size: 18px;
    color: black;
    font-weight: bold;
    display:flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding-left: 20px;
}
#search-button{
  
    display:inline-block;
    height:50px;
    padding:15px;
    text-align:center;
    border-radius:0 10px 10px 0 ;
    background-color:blue; 
    color:#ffffff;
  
}
#search-button img{
    display:none;
}
#paragraphe{
    margin-bottom:20px;
    margin-left:40px;
}
#container{
    margin-bottom:20px;
    margin-left:40px;
  }
/*filtre*/
.margefiltre{
    margin-left:40px;
}

.icone:hover{
    color:#ffffff;
    background-color:#0065FC;
}
.filtretext{
    height:50px;
    padding-left:20px;
    padding-right:20px;
    border-radius: 0 25px 25px 0;
    display:flex;
    justify-content: center;
    align-items: center;
}
.filtretext:hover{
    color:#0065FC;
}
.filtre{
    display: flex;
    align-items: center;
    margin-top:40px;
    margin-bottom: 20px;
    font-weight: bold;
}
.boitefiltre1{
    border-radius: 30px;
    border:#F2F2F2 solid 1px;
    height:40px;
    margin-left:10px;
    margin-right:10px;
    font-weight: bold;
    display:flex;
    justify-content:space-around;
    align-items: center;
}
.boitefiltre2{
    border-radius: 30px;
    border:#F2F2F2 solid 1px;
    height:40px;
    margin-left:10px;
    margin-right:10px;
    font-weight: bold;
    display:flex;
    justify-content:space-around;
    align-items: center;
}
.boitefiltre3{
    border-radius: 30px;
    border:#F2F2F2 solid 1px;
    height:40px;
    margin-left:10px;
    margin-right:10px;
    font-weight: bold;
    display:flex;
    justify-content:space-around;
    align-items: center;
}
.boitefiltre4{
    border-radius: 30px;
    border:#F2F2F2 solid 1px;
    height:40px;
    margin-left:10px;
    margin-right:10px;
    font-weight: bold;
    display:flex;
    justify-content:space-around;
    align-items: center;
}
.icone{
    height:42px;
    width:42px;
    background-color: #DEEBFF;
    color:#0065FC;
    display: flex;
    justify-content: center;
    align-items:center;
    margin-left: -2px;
    border-radius:25px;
}

.iconeinfo{
    height:35px;
    width:35px;
    padding-right:5px;
    padding-top:15px;
}
/*cartes hébergements*/
.hébergementMarseille{
    width:60%;
    background-color: #F2F2F2;
    border-radius: 10px;
    padding-top: 20px;
    padding-left:20px;
    margin-bottom: 20px;
    margin-left:40px;
    }

.margetext{
    margin-left:10px;
    margin-top: 10px;
}    

.lespluspopulaires{
    width:27%;
    background-color: #F2F2F2;
    border-radius: 10px;
    padding-left:40px;
    padding-right: 20px;
    padding-top:20px;
    margin-bottom: 20px;
    }
.margepopulaire{
    display: flex;
    justify-content: space-between;
    align-items: center;
} 
.chart-line{
    height:20px;
    width:20px;
    margin-right:20px;
    }
.flexaround{
    display:flex;
    gap:30px;
}
.margetitre{
    margin-left:20px;
}  
.propriétésimg1{
    object-fit: cover;
    height:100%;
    width:100%;
    border-radius: 20px 20px 0 0;
    padding-top: 3px;
    padding-right: 3px;
    padding-left: 3px;
}    
.étoile{
    height:10px;
    width:10px;
}

.boitecarte{
    display:flex;
    gap:20px;
    flex-direction: column;
    height:180px;
    width:230px;
    background-color:#ffffff;
    border-radius: 20px;
    margin-left: 5px;
    font-size: 18px;
    margin-bottom:10px;
    flex-direction: row;
}
.arrangementcartes{
    display:flex;
    gap:20px;
    flex-direction: row;
    margin-bottom: 20px;
}

.propriétésimg2{
    object-fit: cover;
    height:116px;
    width:90px;
    border-radius: 20px 0 0 20px;
    padding-top: 3px;
    padding-right:0px;
    padding-left:3px;
} 
.boitecarte2{
    display:flex;
    gap:20px;
    flex-direction:column;
    height:120px;
    width:290px;
    background-color:#ffffff;
    border-radius: 20px;
    margin-left:-3px;
    font-size: 18px;
}
.margetitrepopulaire{
    margin-top:5px;
    margin-left:5px;
} 
.margetext2{
    display:flex;
    align-items: flex-start;
    margin-bottom: 20px;
}  
.margétoile{
    padding-top:20px;
}
.margehebergement{
    margin-left:10px;
    font-weight: bold;
    }
/*activités à Marseille*/
.boite{
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    margin-right:100px;
}
.propriétésimage1{
    object-fit: cover;
    height:340px;
    width:260px;
    border-radius: 20px 20px 0 0;
}
.boitecarte01{
    display:flex;
    height:400px;
    width:260px;
    background-color: #ffffff;
    border:solid #F2F2F2 1px;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 5px 5px 10px 3px rgba(242,242,242,1);
    margin-left:40px;
}
.boite1{
    display:flex;
    justify-content: center;
    flex-direction: column;
    gap:40px;
}
.propriétésimage2{
    object-fit: cover;
    height:150px;
    width:260px;
    border-radius: 20px 20px 0 0;
}
.boitecarte02{
    display:flex;
    height:210px;
    width:260px;
    background-color: #ffffff;
    border:solid #F2F2F2 1px;
    border-radius:20px 20px 20px 20px;
    box-shadow: 5px 5px 10px 3px rgba(242,242,242,1);
    margin-left:40px;
}
.propriétésimage3{
    object-fit:cover;
    height:90px;
    width:260px;
    border-radius: 20px 20px 0 0;
}
.boitecarte03{
    display:flex;
    height:150px;
    width:260px;
    background-color: #ffffff;
    border:solid #f2f2f2 1px;
    border-radius:20px 20px 20px 20px;
    box-shadow:5px 5px 10px 3px rgba(242,242,242,1);
    margin-left:40px;
}
.margetext3{
    padding-left:20px;
    padding-top:15px;
    font-weight: bold;
}
.margeactivites{
    margin-top: 40px;
    margin-left:40px;
    font-weight: bold;
}
/*footer*/
footer{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height:150px;
    width:97%;
    margin-top:50px;
    margin-bottom:30px;
    padding-top:20px;
    background-color: #F2F2F2;
}
.tailleblocfooter{
    /* height:140px; */
    font-size:12px;
    padding-right:230px;
    padding-left:30px;

}
