@media all and (min-width: 768px) and (max-width: 1024px){
    .logo{
        margin-left:0px;
    }
    h2{
        margin-left:0px;
    } 
    #paragraphe{
        margin-bottom:20px;
        margin-left:0px;
    }
    .barrederecherche{
        display: flex;
        justify-content: center;
        align-items: center;
        width:420px;
        border-radius: 10px;
        border:0.5px solid #F2F2F2;
        margin-left:0px;
    }
    header nav{
        position:absolute;
        top:2px;
    }
    .iconemap{
        height:50px;
        width:50px;
        background-color:#F2F2F2;
        display:flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px 0 0 10px;
    }    
    input{
        height:50px;
        width:252px;
        font-size: 18px;
        color: black;
        font-weight: bold;
        display:flex;
        justify-content: center;
        align-items: center;
        border: none;
    }
    #paragraphe{
        margin-bottom:20px;
        margin-left:0px;
    }
    #container{
        margin-bottom:20px;
        margin-left:0px;
      }
    .margefiltre{
        margin-left:0px;
    }
    .boitemarge1{
        border-radius: 30px;
        border:#F2F2F2 solid 1px;
        height:40px;
        width:120px;
        margin-left:5px;
        margin-right:5px;
        font-weight: bold;
        display:flex;
        justify-content:space-around;
        align-items: center;
    }
    .boitefiltre2{
        border-radius: 30px;
        border:#F2F2F2 solid 1px;
        height:40px;
        width:140px;
        margin-left:5px;
        margin-right:5px;
        font-weight: bold;
        display:flex;
        justify-content:space-around;
        align-items: center;
    }
    .boitefiltre4{
        border-radius: 30px;
        border:#F2F2F2 solid 1px;
        height:50px;
        margin-left:5px ;
        margin-right:5px;
        font-weight: bold;
        display:flex;
        justify-content:space-around;
        align-items: center;
    }
    .boitefiltre3{
        border-radius: 30px;
        border:#F2F2F2 solid 1px;
        height:40px;
        margin-left:10px ;
        margin-right:10px;
        font-weight: bold;
        display:flex;
        justify-content:space-around;
        align-items: center;
    }
    .margefiltre{
        margin-right:5px;
    }
    .icone{
        height:42px;
        width:42px;
        background-color: #DEEBFF;
        color:#0065FC;
        display: flex;
        justify-content: center;
        align-items:center;
        margin-left: -2px;
        border-radius:25px;
    }
    .hébergementMarseille{
        width:65%;
        background-color: #F2F2F2;
        border-radius: 10px;
        padding-top: 20px;
        padding-right:10px;
        margin-bottom:20px;
        margin-left:20px;
        margin-right:0px;
        }
        .margetext{
            margin-left:5px;
            margin-top: 5px;
        }    
        .boitecarte{
            display:flex;
            gap:2px;
            flex-direction: column;
            height:130px;
            width:170px;
            background-color:#ffffff;
            border-radius: 20px 20px 0 0;
            font-size: 12px;
            margin-right:15px;
            margin-bottom:10px;
            flex-direction: row;
        }
        .propriétésimg1{
            object-fit:cover;
            height:50%;
            width:170px;
            border-radius: 20px 20px 0 0;
            padding-top:2%;
            padding-right:2%;
            padding-left:2%;
        }          
        .margehebergement{
            margin-top:10px;
            margin-left:10px;
            font-weight: bold;
            }      
        .lespluspopulaires{
            width:40%;
            background-color: #F2F2F2;
            border-radius: 10px;
            padding-left:20px;
            padding-right: 20px;
            padding-top:20px;
            margin-bottom: 20px;
            margin-right:40px;
            }
            .margetitrepopulaire{
                margin-top:5px;
                margin-left:-10px;
            } 
            .boitecarte2{
                display:flex;
                gap:3px;
                flex-direction:column;
                height:100px;
                width:100%;
                background-color:#ffffff;
                border-radius:20px;
                font-size:12px;
                gap:20px;
            }
            .propriétésimg2{
                object-fit: cover;
                height:98px;
                width:40%;
                border-radius:20px 0 0 20px;
                padding-top:3px;
                padding-left:2px;
            }
            .chart-line{
                height:20px;
                width:20px;
                margin-right:10px;
                } 
                .margetext2{
                    display:flex;
                    align-items: flex-start;
                    margin-bottom:0px;
                } 
                .margepopulaire{
                    display:flex;
                    justify-content:space-between;
                    align-items:center;
                    margin-left:0px;
                    margin-top:-25px;
                }  
         
                .margetitre{
                margin-left:0px;
                } 
                .margeactivites{
                    margin-top:20px;
                    font-weight:bold;
                } 
                .boitecarte01{
                    display:flex;
                    height:400px;
                    width:200px;
                    background-color: #ffffff;
                    border:solid #F2F2F2 1px;
                    border-radius: 20px 20px 20px 20px;
                    box-shadow: 5px 5px 10px 3px rgba(242,242,242,1);
                    margin-left:20px;
                } 
                .boite1{
                    display:flex;
                    justify-content:center;
                    flex-direction:column;
                    margin-left:30px;
                } 
                .boite{
                    display:flex;
                    justify-content:space-between;
                    flex-direction:row;
                    margin-left:20px;
                }
                .boitecarte02{
                    display:flex;
                    height:190px;
                    width:200px;
                    margin-left:20px;
                    background-color: #ffffff;
                    border:solid #F2F2F2 1px;
                    border-radius:20px 20px 20px 20px;
                    box-shadow: 5px 5px 10px 3px rgba(242,242,242,1);
                } 
                .boitecarte03{
                    display:flex;
                    height:170px;
                    width:200px;
                    margin-left:20px;
                    margin-right:20px;
                    background-color: #ffffff;
                    border:solid #f2f2f2 1px;
                    border-radius:20px 20px 20px 20px;
                    box-shadow:5px 5px 10px 3px rgba(242,242,242,1);
                }
                .propriétésimage1{
                    object-fit: cover;
                    height:340px;
                    width:200px;
                    border-radius:20px 20px 0 0;
                } 
                .propriétésimage2{
                    object-fit: cover;
                    height:140px;
                    width:200px;
                    border-radius:20px 20px 0 0;
                }
                .propriétésimage3{
                    object-fit:cover;
                    height:110px;
                    width:200px;
                    border-radius: 20px 20px 0 0;
                }
                .margetext3{
                    padding-left:5px;
                    padding-top:10px;
                    font-weight:bold;
                }
                footer{
                    display:flex;
                    justify-content: space-between;
                    align-items: center;
                    height:150px;
                    width:95%;
                    margin-left:20px;
                    margin-top:50px;
                    margin-bottom:30px;
                    padding-top:20px;
                    background-color: #F2F2F2;
                }
                .tailleblocfooter{
                    /* height:140px; */
                    font-size:12px;
                    padding-right:20px;
                    padding-left:20px; 
                }
            }                 

